* {
    main-bg:            #2A3438B3;
    main-fg:            #CCF0FFE6;
    main-br:            #637680E6;
    main-ex:            #3E4E56E6;
    select-bg:          #AAD7F080;
    select-fg:          #294352E6;
}
